service: battleship-api-${env:TEAM_BRANCH_NAME, 'dev'}
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: '*'
  environment:
    GAMES_TABLE_NAME: ${self:resources.Resources.GamesTable.Properties.TableName}
    AWS_DYNAMO_ENDPOINT: ${self:custom.env.${opt:stage}.dynamoEndpoint}
custom:
  env:
    dev:
      dynamoEndpoint: 'http://localhost:8000'
    prod:
      dynamoEndpoint: ''
functions:
  createGame:
    handler: createGame/index.handler
    events:
      - httpApi:
          path: /createGame
          method: post
resources:
  Resources:
    GamesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-games
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: id
            KeyType: HASH
plugins:
  - serverless-dynamodb-local
  - serverless-offline
