service: battleship-${env:TEAM_BRANCH_NAME}
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x

functions:
  createGame:
    handler: createGame/index.handler
    events:
      - httpApi:
          path: /game
          method: post