service: ${env:GITHUB_BASE_REF}-battleship
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x

functions:
  createGame:
    handler: createGame/index.handler
    events:
      - httpApi:
          path: /game
          method: post